HOST=127.0.0.1
PORT=5500
ITEMICOSTOS_STORAGE=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=mtr2
MYSQL_PASSWORD=
MYSQL_DATABASE=MTRD
REVIT_INGEST_API_KEY=
BIM_WORKER_API_KEY=
BIM_WORKER_BASE_URL=http://127.0.0.1:5500/
BIM_WORKER_ID=
BIM_WORKER_PROVIDER=simulated-aps
BIM_WORKER_COMMAND_TYPE=cloud-model-analysis
BIM_WORKER_POLL_MS=5000
BIM_WORKER_ERROR_BACKOFF_MAX_MS=300000
BIM_WORKER_SIMULATED_ELEMENTS=10000
BIM_WORKER_BATCH_DELAY_MS=10
BIM_WORKER_LOAD_TEST_SIZES=10000,50000,100000
BIM_WORKER_LOAD_TEST_BATCH_SIZE=250
BIM_REVIT_BATCH_PLAN_SIZES=10000,50000,100000
BIM_REVIT_BATCH_PLAN_BATCH_SIZE=250
BIM_FLUENCY_REPORT_PATH=data/bim-fluency-check.json
BIM_APS_CLIENT_ID=
BIM_APS_CLIENT_SECRET=
BIM_APS_ACTIVITY_ID=
BIM_APS_BASE_URL=https://developer.api.autodesk.com/da/us-east/v3
BIM_APS_TOKEN_URL=https://developer.api.autodesk.com/authentication/v2/token
BIM_APS_SCOPES=code:all data:read data:write
BIM_APS_POLL_MS=10000
BIM_APS_TIMEOUT_MS=3600000
BIM_APS_CHECK_INPUT_URL=
BIM_APS_CHECK_OUTPUT_URL=
BIM_JOB_STALE_MINUTES=30
BIM_JOB_SWEEP_INTERVAL_MS=60000
BIM_BRIDGE_PRESENCE_TTL_SECONDS=180
BIM_REVIT_VERSION=2025
BIM_REVIT_SESSION_STRICT=false
BIM_JOB_CREATE_LOCK_TIMEOUT_SECONDS=8
BIM_JOB_SSE_POLL_MS=1500
BIM_JOB_SSE_RETRY_MS=3000
BIM_ARTIFACT_STORAGE_DIR=data/bim-artifacts
BIM_ARTIFACT_MAX_BYTES=5242880
BIM_ARTIFACT_ALLOWED_REDIRECT_HOSTS=
BIM_SMOKE_BASE_URL=http://127.0.0.1:5500/
BIM_SMOKE_PROJECT_ID=
BIM_SMOKE_SESSION_COOKIE=
BIM_SMOKE_USER_EMAIL=
BIM_SMOKE_STRICT=false
BIM_BRIDGE_SMOKE_BASE_URL=http://127.0.0.1:5500/
BIM_BRIDGE_SMOKE_API_KEY=
BIM_BRIDGE_SMOKE_PROJECT_ID=
BIM_BRIDGE_SMOKE_SESSION_COOKIE=
BIM_BRIDGE_SMOKE_CREATE_JOB=
BIM_BRIDGE_SMOKE_COMMAND_TYPE=api-smoke-cloud-model-analysis
BIM_BRIDGE_SMOKE_STRICT=false
BIM_BRIDGE_E2E_SMOKE_BASE_URL=http://127.0.0.1:5500/
BIM_BRIDGE_E2E_SMOKE_API_KEY=
BIM_BRIDGE_E2E_SMOKE_PROJECT_ID=
BIM_BRIDGE_E2E_SMOKE_SESSION_COOKIE=
BIM_BRIDGE_E2E_REQUESTED_BY=
BIM_BRIDGE_E2E_SMOKE_STRICT=false
BIM_READINESS_CHECK_REVIT_SETTINGS=true
BIM_READINESS_CHECK_REVIT_SESSION=true
BIM_REVIT_SETTINGS_PATH=
BIM_READINESS_CHECK_FLUENCY_REPORT=true
BIM_READINESS_CHECK_HEALTH=true
BIM_READINESS_STRICT=false
MYSQL_SOCKET_PATH=
MYSQL_SSL_CA_PATH=
ACCESS_CONTROL_ENABLED=true
ACCESS_GOOGLE_AUTH_ENABLED=true
GOOGLE_AUTH_CLIENT_ID=
ACCESS_SUPERADMIN_EMAIL=rjason381@gmail.com
ACCESS_SESSION_TTL_HOURS=12
