HOST=127.0.0.1
PORT=5500
ITEMICOSTOS_STORAGE=mysql
MYSQL_HOST=127.0.0.1
MYSQL_PORT=3306
MYSQL_USER=mtr2
MYSQL_PASSWORD=
MYSQL_DATABASE=MTRD
REVIT_INGEST_API_KEY=
MYSQL_SOCKET_PATH=
MYSQL_SSL_CA_PATH=
ACCESS_CONTROL_ENABLED=true
ACCESS_GOOGLE_AUTH_ENABLED=true
GOOGLE_AUTH_CLIENT_ID=
ACCESS_SUPERADMIN_EMAIL=rjason381@gmail.com
ACCESS_SESSION_TTL_HOURS=12
